body {
  background-color: #e4e3e3;
  font-size: 1.1rem;
  margin: 0;
}

h1 {
  color: #3b6978;
  font-family: 'Poller One', cursive;
  font-size: 3.3rem;
}

h2 {
  color: #3b6978;
  font-family: 'Merriweather', serif;
  font-size: 2.2rem;
}

hr {
  background-color: #e4e3e3;
  border-style: dotted none none;
  border-width: 5px;
  width: 20%;
}

li {
  color: #204051;
  font-family: 'Ubuntu', sans-serif;
  line-height: 200%;
}

p {
  color: #204051;
  font-family: 'Ubuntu', sans-serif;
}

td {
  color: #204051;
  font-family: 'Ubuntu', sans-serif;
}

.title-section {
  background-color: #84a9ac;
  padding: 5% 7.5%;
}

.education {
  padding: 1% 7.5% 2.5%;
}

.skills {
  padding: 2.5% 7.5%;
}

.work {
  padding: 2.5% 7.5%;
}

.hobbies {
  padding: 2.5% 7.5%;
}

.title-section-hr {
  background-color: #84a9ac;
  width: auto;
}

.contact-details-link {
  padding: 0 11.75%;
  margin: 10% 0;
}

.bio {
  line-height: 1.75
}

.profile-pic-td {
  margin-right: 5%;
  padding-left: 2%;
}

.contact-details {
  padding-left: 5%;
  width: 100%;
}

.home-page-link {
  padding-left: 2.5%;
}
